n8n/order-confirmation-workflow.json
{
  "name": "Order Confirmation Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "order-created",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-order-created",
      "name": "Webhook: Order Created",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst items = body.items || [];\nconst itemsList = items.map(i => `<tr><td>${i.productName}</td><td>${i.quantity}</td><td>$${i.unitPrice}</td><td>$${(i.quantity * i.unitPrice).toFixed(2)}</td></tr>`).join('');\n\nreturn [{\n  json: {\n    orderId: body.orderId,\n    orderNumber: body.orderNumber,\n    userEmail: body.userEmail,\n    totalAmount: body.totalAmount,\n    status: body.status,\n    itemsHtml: itemsList,\n    itemCount: items.length\n  }\n}];"
      },
      "id": "code-format",
      "name": "Format Email Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "fromEmail": "orders@yourecommerce.com",
        "toEmail": "={{ $json.userEmail }}",
        "subject": "=Order Confirmation - {{ $json.orderNumber }}",
        "html": "=<html><body><h2>Order Confirmed!</h2><p>Thank you for your order <strong>{{ $json.orderNumber }}</strong>.</p><table border='1' cellpadding='8'><tr><th>Product</th><th>Qty</th><th>Price</th><th>Total</th></tr>{{ $json.itemsHtml }}</table><p><strong>Total: ${{ $json.totalAmount }}</strong></p><p>Status: {{ $json.status }}</p></body></html>",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [690, 300],
      "credentials": {
        "smtp": {
          "id": "CONFIGURE_YOUR_SMTP_CREDENTIALS",
          "name": "SMTP Account"
        }
      }
    }
  ],
  "connections": {
    "Webhook: Order Created": {
      "main": [
        [
          {
            "node": "Format Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email Data": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
